.wGmVKmyF_0-1761517866 {
  stroke-dasharray: 168 170;
  stroke-dashoffset: 169;
}

.aos-animate .wGmVKmyF_0-1761517866 {
  animation: wGmVKmyF_draw 1000ms ease-in-out 0ms forwards;
}

.wGmVKmyF_1-1761517866 {
  stroke-dasharray: 149 151;
  stroke-dashoffset: 150;
}

.aos-animate .wGmVKmyF_1-1761517866 {
  animation: wGmVKmyF_draw 1000ms ease-in-out 250ms forwards;
}

.wGmVKmyF_2-1761517866 {
  stroke-dasharray: 137   139;
  stroke-dashoffset: 138;
}

.aos-animate .wGmVKmyF_2-1761517866 {
  animation: wGmVKmyF_draw 1000ms ease-in-out 500ms forwards;
}

.wGmVKmyF_3-1761517866 {
  stroke-dasharray: 193 195;
  stroke-dashoffset: 194;
}

.aos-animate .wGmVKmyF_3-1761517866 {
  animation: wGmVKmyF_draw 1000ms ease-in-out 750ms forwards;
}

.wGmVKmyF_4-1761517866 {
  stroke-dasharray: 98   100;
  stroke-dashoffset: 99;
}

.aos-animate .wGmVKmyF_4-1761517866 {
  animation: wGmVKmyF_draw 1000ms ease-in-out 1000ms forwards;
}

@keyframes wGmVKmyF_draw {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes wGmVKmyF_fade {
  0% {
    stroke-opacity: 1;
  }
  93.54838709677419% {
    stroke-opacity: 1;
  }
  100% {
    stroke-opacity: 0;
  }
}

