:root {
  --main-color: #000;
  --base-color: rgba(133,183,7,1);
}

#success_submit {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}

@media (max-width: 767px) {
  .navbar .navbar-collapse {
    position: absolute;
    top: 100%;
    left: 0;
    width: auto;
  }
}

#mainNav #parentNav.navbar-nav > .nav-item > .nav-link {
  position: relative;
  color: rgba(28,106,66,1) !important;
  font-family: Cairo, sans-serif;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.b-0 {
  border-width: 0 !important;
}

#mainNav #parentNav.navbar-nav > .nav-item {
  flex: 1;
  min-width: 100px;
  position: relative;
  overflow: visible;
  padding: 0 !important;
}

@media (min-width: 768px) {
  #mainNav #parentNav.navbar-nav > .nav-item {
    margin-right: 20px;
  }
}

.nav.navbar-nav {
  width: 100%;
  background-color: #fff;
}

.s-0 {
  box-shadow: 0 0 0 transparent !important;
}

#mainNav #parentNav.navbar-nav > .nav-item.active > .nav-link, #mainNav #parentNav.navbar-nav > .nav-item:hover > .nav-link {
  background-color: rgba(242,146,0,1) !important;
}

.social-icons a {
  width: 40px;
  padding: 4px;
  margin: 0;
}

.lang a {
  color: #333;
}

@media (min-width: 768px) {
  #mainNav:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: -2px;
    border-top: solid 1px #027f1e;
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 768px) {
  #mainNav {
    border-top: solid 1px #bcdb5d;
    padding: 0px;
    padding-top: 15px;
  }
}

@media (min-width: 768px) {
  #mainNav #parentNav.navbar-nav > .nav-item:after {
    z-index: -1;
    pointer-events: none;
    content: "";
    width: 100%;
    height: 0;
    bottom: 0;
    display: block;
    background: inherit;
    background-size: cover;
    position: absolute;
    box-shadow: 0px 8px 5px 3px rgba(0,0,0,.5);
    z-index: 0;
    transition: height .3s ease-in-out .1s;
  }
}

@media (min-width: 768px) {
  #mainNav #parentNav.navbar-nav > .nav-item:hover:after, #mainNav #parentNav.navbar-nav > .nav-item.active:after {
    height: 100%;
  }
}

#mainNav #parentNav.navbar-nav > .nav-item .nav-link strong {
  z-index: 2;
  position: relative;
}

#mainNav #parentNav.navbar-nav > .nav-item .style {
  content: "";
  pointer-events: none;
  left: -30%;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
  top: -52%;
  width: 147px;
  height: 100%;
  display: block;
  position: absolute;
  mix-blend-mode: screen !important;
  opacity: 0;
  z-index: 3;
  transition: left .4s ease-in-out , opacity .35s ease-in-out;
  background-image: url("../../assets/img/flare-2880w.png");
}

#mainNav #parentNav.navbar-nav > .nav-item:hover .style, #mainNav #parentNav.navbar-nav > .nav-item.active .style {
  opacity: 1;
  left: 0;
  transition-delay: 0.3s, 0.25s;
}

.lang a[href="#"] {
  pointer-events: none;
}

.ltr {
  direction: ltr;
}

@media (min-width: 768px) {
  #mainNav #parentNav.navbar-nav > .nav-item > .nav-link:before {
    content: "" !important;
    width: 175% !important;
    left: 0 !important;
    height: 100% !important;
    top: -85% !important;
    display: block !important;
    background: rgba(255,255,255,0) !important;
    border-radius: 40% !important;
    position: absolute !important;
    z-index: 1 !important;
    right: 0 !important;
    margin: 0 auto !important;
    transition: background .40s ease-in-out 120ms , top .4s ease-in-out 110ms, opacity 0.4s ease-in-out 110ms !important;
  }
}

@media (min-width: 768px) {
  #mainNav #parentNav.navbar-nav > .nav-item:hover > .nav-link:before, #mainNav #parentNav.navbar-nav > .nav-item.active .nav-link:before {
    background: rgba(255,255,255,.07) !important;
    top: -45% !important;
  }
}

#main-header {
  position: fixed;
  z-index: 100;
  width: 100%;
  left: 0;
  top: 0;
  background-color: #fff;
}

section {
  background-color: #fff;
}

.btn {
  font-family: Cairo, sans-serif;
  margin: 20px auto;
}

.bottom:after {
  content: "" !important;
  position: absolute !important;
  max-width: 960px !important;
  height: 86px !important;
  left: 0 !important;
  right: 0 !important;
  top: 100% !important;
  z-index: -1 !important;
  margin: 0 auto !important;
  display: block !important;
  background-image: url("../../assets/img/shadow-bottom-0-960x86-2880w.png");
  background-size: contain;
  width: 100%;
  background-repeat: no-repeat;
  background-position: top center;
}

.bottom {
  position: relative;
  z-index: 1;
}

@media (min-width: 768px) {
  .flexslider .slides li {
    height: 450px;
  }
}

.icon-wrapper-1 {
  width: 43px;
  height: 60px;
  margin: 0 auto;
  background-color: rgba(224,152,41,1) !important;
}

.links-wrapper a {
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

.published h4 {
  color: #fff;
}

.logo-icon.white svg * {
  stroke: #fff !important;
  color: #fff !important;
}

.logo-icon {
  max-width: 122px;
  margin: 0 auto;
  height: 79px;
}

.logo-icon svg {
  max-width: 100%;
  max-height: 100%;
}

@media (min-width: 768px) {
  .published {
    float: left;
    text-align: left !important;
  }
}

.published {
  margin-top: 15px;
}

.copyrights {
  margin-top: 15px;
}

.map-wrap {
  margin: 0 !important;
}

strong {
  font-weight: 700;
}

.social-icon {
  color: #fff;
  background-color: rgba(0,0,0,0);
  width: 50px;
  height: 50px;
  font-size: 29px;
}

.social-icon {
  border-width: 3px;
}

.social-icon {
  border-width: medium !important;
}

label {
  min-width: 100px;
  text-align: left;
  padding: 0 15px;
}

label {
  font-family: Cairo, sans-serif;
  color: rgba(131,130,130,1) !important;
  font-weight: normal;
}

@media (min-width: 768px) {
  #mainNav #parentNav.navbar-nav > .nav-item .dropdown-menu {
    position: absolute;
    top: 100%;
    height: auto;
    left: 0;
    z-index: 2;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    transform: translateY(-20%);
    opacity: 0;
    display: block;
  }
}

#mainNav #parentNav.navbar-nav > .nav-item .nav-link {
  overflow: hidden;
  color: #000;
}

@media (min-width: 768px) {
  #mainNav #parentNav.navbar-nav > .nav-item:hover .dropdown-menu {
    transform: translateY(0);
    opacity: 1;
  }
}

#mainNav #parentNav.navbar-nav > .nav-item .dropdown-menu .nav-item:hover {
  background-color: #F29200;
}

.navbar-expand-md .navbar-nav .dropdown-menu {
  border: 0px;
}

.dropdown-item:hover {
  background-color: #F29200;
}

h3 small {
  display: block;
}

.prod-title span {
  font-family: Montserrat, sans-serif;
  font-weight: 900;
  font-size: 2em;
  line-height: 2.2;
  position: absolute;
  right: 0;
  height: 100%;
  padding: 0 10px;
  background-color: #F29200;
  color: #fff;
}

.prod-title {
  position: relative;
  padding: 0 65px 0 0;
}

.tab-pane {
  padding: 30px;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #495057;
  background-color: #fff;
  border-color: #dee2e6 #dee2e6 #fff;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: rgba(224,152,41,1);
}

.nav-link {
  color: #333;
}

.tabs .tab-content, .nav-tabs .nav-link.active {
  background-color: #F5F5F5;
}

.tabs .table-responsive {
  background-color: #fff;
}

.prod-wrapper .prod-img {
  min-height: 250px;
}

.tab-content > .tab-pane > p, .tab-content > .tab-pane > ul li {
  font-size: 18px;
  line-height: 1.3;
}

.btn.btn-outline-primary.btn-lg.catalogue:hover {
  color: #eee;
}

